@import "tailwindcss";

@theme {
  --font-sans: var(--font-plus-jakarta), ui-sans-serif, system-ui, sans-serif;
  --font-inter: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #fcdd33;
  --color-blue: #3552ea;
  --color-dark: #19191d;
  --color-gray-text: #6b6b6b;
  --color-bg-light: #f5f7f9;
  
  --animate-scroll: scroll 40s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

body {
  background-color: #ffffff;
}
